<section>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          Add A House!🏠🏠🏠
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body p-5">
          <form onsubmit="app.HomesController.addHouse()">
            description
            <div class="mb-3">
              <label for="description" class="form-label"></label>
              <input type="text" class="form-control" name="description" >
            </div>
            bathrooms
            <div class="mb-3">
              <label for="description" class="form-label"></label>
              <input type="text" class="form-control" name="bathrooms" >
            </div>
            bedrooms
            <div class="mb-3">
              <label for="description" class="form-label"></label>
              <input type="text" class="form-control" name="bedrooms" >
            </div>
            levels
            <div class="mb-3">
              <label for="description" class="form-label"></label>
              <input type="number" class="form-control" name="levels" >
            </div>
            year
            <div class="mb-3">
              <label for="description" class="form-label"></label>
              <input type="number" class="form-control" name="year" >
            </div>
            price
            <div class="mb-3">
              <label for="description" class="form-label"></label>
              <input type="number" class="form-control" name="price" >
            </div>
            imgUrl
            <div class="mb-3">
              <label for="description" class="form-label"></label>
              <input type="url" class="form-control" name="imgUrl" >
            </div>
            <button type="submit" class="btn btn-primary">Add House</button>
          </form>
        </div>
      </div>
    </div>
    <div class="row" id="houseGoHere"></div>
</section>